{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/custom_styles.css' %}">

<div class="container text-center">
    <form method="POST" class="custom-form">
        {% csrf_token %}
        <div class="form-group">
            <legend class="border-bottom mb-4">Select Options</legend>
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-info center-button">Select</button>
        </div>
        {% if input %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Measurements</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ m_form.input }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ m_form.measure1 }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ m_form.measure2 }}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Result</legend>
            <div class="form-group">
                {{ answer }}
            </div>
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-info center-button">Convert</button>
        </div>
        {% endif %}
    </form>
</div>

{% endblock content %}
